
Crawler/Crawler.Data/obj/project.nuget.cache
Crawler/Crawler.Data/obj/project.assets.json
Crawler/Crawler.Data/obj/Debug/net5.0/ref/Crawler.Data.dll
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.pdb
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.GeneratedMSBuildEditorConfig.editorconfig
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.dll
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.csproj.FileListAbsolute.txt
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.csproj.CoreCompileInputs.cache
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.csproj.AssemblyReference.cache
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.assets.cache
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.AssemblyInfoInputs.cache
Crawler/Crawler.Data/obj/Debug/net5.0/Crawler.Data.AssemblyInfo.cs
Crawler/Crawler.Data/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Crawler/Crawler.Data/obj/Crawler.Data.csproj.nuget.g.targets
Crawler/Crawler.Data/obj/Crawler.Data.csproj.nuget.g.props
Crawler/Crawler.Data/obj/Crawler.Data.csproj.nuget.dgspec.json
Crawler/Crawler.Data/bin/Debug/net5.0/ref/Crawler.Data.dll
Crawler/Crawler.Data/bin/Debug/net5.0/Crawler.Data.pdb
Crawler/Crawler.Data/bin/Debug/net5.0/Crawler.Data.dll
Crawler/Crawler.Data/bin/Debug/net5.0/Crawler.Data.deps.json
Crawler/Crawler.App/obj/project.nuget.cache
Crawler/Crawler.App/obj/project.assets.json
Crawler/Crawler.App/obj/Debug/net5.0/ref/Crawler.App.dll
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.pdb
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.genruntimeconfig.cache
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.GeneratedMSBuildEditorConfig.editorconfig
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.dll
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.csproj.FileListAbsolute.txt
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.csproj.CoreCompileInputs.cache
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.csproj.CopyComplete
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.csproj.AssemblyReference.cache
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.assets.cache
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.AssemblyInfoInputs.cache
Crawler/Crawler.App/obj/Debug/net5.0/Crawler.App.AssemblyInfo.cs
Crawler/Crawler.App/obj/Debug/net5.0/apphost.exe
Crawler/Crawler.App/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Crawler/Crawler.App/obj/Crawler.App.csproj.nuget.g.targets
Crawler/Crawler.App/obj/Crawler.App.csproj.nuget.g.props
Crawler/Crawler.App/obj/Crawler.App.csproj.nuget.dgspec.json
Crawler/Crawler.App/Downloads/Parascript/22/01/DPVandLACS/SuiteLink/ads_slk_09_0122.exe
Crawler/Crawler.App/Downloads/Parascript/22/01/DPVandLACS/LACSLink/ads_lac_09_0122.exe
Crawler/Crawler.App/Downloads/Parascript/22/01/DPVandLACS/DPVsplit/ads_dpv_09_0122.exe
Crawler/Crawler.App/Downloads/Parascript/22/01/DPVandLACS/DPVfull/ads_dpv_09_0122.exe
Crawler/Crawler.App/Downloads/Parascript/22/01/ads6/readme.txt
Crawler/Crawler.App/Downloads/Parascript/22/01/ads6/ads_zip_09_0122.exe
Crawler/Crawler.App/Downloads/2022/1/rops_1000147_20220110.pdf
Crawler/Crawler.App/Downloads/2021/12/zipmovenatl.tar
Crawler/Crawler.App/Downloads/2021/12/zip4natl.tar
Crawler/Crawler.App/Downloads/2021/12/stelnk2.tar
Crawler/Crawler.App/Downloads/2021/12/laclnk2.tar
Crawler/Crawler.App/Downloads/2021/12/dpvsp2.tar
Crawler/Crawler.App/Downloads/2021/12/dpvfl2.tar
Crawler/Crawler.App/Downloads/2021/11/zipmovenatl.tar
Crawler/Crawler.App/Downloads/2021/11/zip4natl.tar
Crawler/Crawler.App/Downloads/2021/11/stelnk2.tar
Crawler/Crawler.App/Downloads/2021/11/ren_1000147_20211122.pdf
Crawler/Crawler.App/Downloads/2021/11/laclnk2.tar
Crawler/Crawler.App/Downloads/2021/11/dpvsp2.tar
Crawler/Crawler.App/Downloads/2021/11/dpvfl2.tar
Crawler/Crawler.App/Downloads/2020/10/G00424KL.ZIP
Crawler/Crawler.App/Downloads/2020/10/G00424KL.ERZ.ZIP
Crawler/Crawler.App/bin/Debug/net5.0/System.ServiceProcess.ServiceController.dll
Crawler/Crawler.App/bin/Debug/net5.0/System.Net.Http.Formatting.dll
Crawler/Crawler.App/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
Crawler/Crawler.App/bin/Debug/net5.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
Crawler/Crawler.App/bin/Debug/net5.0/SQLitePCLRaw.nativelibrary.dll
Crawler/Crawler.App/bin/Debug/net5.0/SQLitePCLRaw.core.dll
Crawler/Crawler.App/bin/Debug/net5.0/SQLitePCLRaw.batteries_v2.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Sinks.File.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Sinks.Debug.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Sinks.Console.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Settings.Configuration.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Formatting.Compact.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Extensions.Logging.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Extensions.Hosting.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.Expressions.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.dll
Crawler/Crawler.App/bin/Debug/net5.0/Serilog.AspNetCore.dll
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.ServiceProcess.ServiceController.dll
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/win-x86/native/e_sqlite3.dll
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/win-x64/native/e_sqlite3.dll
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/win-arm64/native/e_sqlite3.dll
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/win-arm/native/e_sqlite3.dll
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
Crawler/Crawler.App/bin/Debug/net5.0/ref/Crawler.App.dll
Crawler/Crawler.App/bin/Debug/net5.0/PuppeteerSharp.dll
Crawler/Crawler.App/bin/Debug/net5.0/Polly.dll
Crawler/Crawler.App/bin/Debug/net5.0/notifique-me.dll
Crawler/Crawler.App/bin/Debug/net5.0/Newtonsoft.Json.dll
Crawler/Crawler.App/bin/Debug/net5.0/Newtonsoft.Json.Bson.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.Extensions.Hosting.WindowsServices.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.Extensions.DependencyModel.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Sqlite.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.DotNet.PlatformAbstractions.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.Data.Sqlite.dll
Crawler/Crawler.App/bin/Debug/net5.0/Microsoft.Bcl.AsyncInterfaces.dll
Crawler/Crawler.App/bin/Debug/net5.0/LogFile.txt
Crawler/Crawler.App/bin/Debug/net5.0/ICSharpCode.SharpZipLib.dll
Crawler/Crawler.App/bin/Debug/net5.0/HtmlAgilityPack.dll
Crawler/Crawler.App/bin/Debug/net5.0/discord-webhook-client.dll
Crawler/Crawler.App/bin/Debug/net5.0/DirectoryCollection.db
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.Data.pdb
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.Data.dll
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.App.runtimeconfig.json
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.App.runtimeconfig.dev.json
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.App.pdb
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.App.exe
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.App.dll
Crawler/Crawler.App/bin/Debug/net5.0/Crawler.App.deps.json
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/vk_swiftshader_icd.json
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/vk_swiftshader.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/v8_context_snapshot.bin
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/swiftshader/libGLESv2.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/swiftshader/libEGL.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/resources.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/notification_helper.exe
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/nacl_irt_x86_64.nexe
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/mojo_core.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/MEIPreload/preloaded_data.pb
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/MEIPreload/manifest.json
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/zh-TW.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/zh-CN.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/vi.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/uk.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/tr.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/th.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/te.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ta.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/sv.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/sr.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/sl.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/sk.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ru.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ro.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/pt-PT.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/pt-BR.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/pl.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/nl.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/nb.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ms.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/mr.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ml.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/lv.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/lt.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ko.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/kn.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ja.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/it.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/id.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/hu.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/hr.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/hi.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/he.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/gu.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/fr.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/fil.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/fi.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/et.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/es.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/es-419.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/en-US.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/en-GB.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/el.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/de.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/da.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/cs.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ca.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/bn.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/bg.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/locales/ar.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/libGLESv2.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/libEGL.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/interactive_ui_tests.exe
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/icudtl.dat
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/First Run
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/eventlog_provider.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/elevation_service.exe
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/D3DCompiler_47.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/chrome_pwa_launcher.exe
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/chrome_proxy.exe
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/chrome_elf.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/chrome_200_percent.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/chrome_100_percent.pak
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/chrome.exe
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/chrome.dll
Crawler/Crawler.App/.local-chromium/Win64-884014/chrome-win/92.0.4512.0.manifest
