
Common/.vscode/
Common/Common.Data/obj/
Common/Common.Data/bin/

EmailReader/EmailReader.App/obj/
EmailReader/EmailReader.App/bin/
EmailReader/.vscode/

Crawler/Crawler.Data/obj/
Crawler/Crawler.Data/bin/
Crawler/Crawler.App/obj/
Crawler/Crawler.App/bin/
Crawler/Crawler.App/Log/
Crawler/Crawler.App/.local-chromium/
Crawler/.vscode/

Builder/Builder.App/obj/
Builder/Builder.App/bin/
Builder/Builder.App/Log/
Builder/Builder.App/Log
Builder/Builder.App/BuildUtils/
Builder/Builder.Data/obj/
Builder/Builder.Data/bin/
Builder/.vscode/

IsleBuilder/IsleBuilder.App/obj/
IsleBuilder/IsleBuilder.App/bin/
IsleBuilder/IsleBuilder.App/SmiBuildFiles/
IsleBuilder/IsleBuilder.App/SmiBuildTools/
IsleBuilder/.vscode/

Ui/Ui.Web/.DS_Store
Ui/Ui.Web/node_modules
Ui/Ui.Web/dist

Ui/Ui.Core/bin
Ui/Ui.Core/obj
Ui/Ui.Core/.vscode

Ui/.vscode
